{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create a Workout</title>
    <link rel="stylesheet" href="{% static 'planner_app/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="index.js"></script>
    <h1>Create a brand new workout here:</h1>

    <form method="post">
      {% csrf_token %}
      {{ form }}
      {{ exercise_formset.management_form }}
      {{ exercise_formset.non_form_errors }}
      <table>
          {% for form in exercise_formset %}
              <tr>
                  {{ form.as_table }}
              </tr>
          {% endfor %}
      </table>
      <button type="button" id="add-exercise">Add Exercise</button>
      <input type="submit" value="Create Workout and Add Exercises">
  </form>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const addExerciseButton = document.getElementById('add-exercise');
        const formsetTable = document.querySelector('table');

        addExerciseButton.addEventListener('click', function () {
            // Clone the first form and add it to the table
            const firstForm = document.querySelector('form table tr');
            const newForm = firstForm.cloneNode(true);
            formsetTable.appendChild(newForm);
        });
    });
</script>

  
  
  
  </body>
</html>
