<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a Workout</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
    <h1>This is the home page of the Workout Planner app.</h1>
    <a href="{% url 'workout_list' %}">Go to Workout List</a> <br>
    <a href="{% url 'create_workout' %}">Create a Workout</a>
  </body>
</html>